*.class
*.jar
.classpath
.clj-kondo/
.cljs_node_repl/
.externalToolBuilders/
.idea/libraries/
.idea/workspace.xml
.lein-deps-sum
.lein-failures
.lein-plugins
.project
.remarkrc.js
.repl
.settings
.shadow-cljs/
checkouts/
classes/
lib/
out/
pom.xml
project.sh
target/
tests.edn
